*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: #edf33f;
    padding:40px;

}

.title{
    text-align: center;
    margin-bottom: 40px;
    color:#23395d;

}

.container{
    display:flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap:wrap;

}

.card{

    background:white;                 
    width:280px;                      

    padding:30px;                     

    border-radius:15px;               

    text-align:center;                

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    transition:.3s;                  

    display:flex;                    

    flex-direction:column;           

    justify-content:space-between;   

}

.card:hover{

    transform:translateY(-10px);     

}

.pro{
    background:white;
    color:#2563eb;

}

.card h3{
    margin:20px 0;
    color:#2563eb;

}

.pro h3{
    color:white;
}

.card p{
    margin:10px 0;

}

button{
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:8p;
    background:#2563eb;
    color:white;
    cursor:pointer;
    transition:3s;

}

button:hover{
    background:1d4ed8;

}
@media(max-width:900px){
.container{
    flex-direction:column;
    align-items:center;
}
}

