body{
    background-color:#354E61;
    font-family: Franklin Gothic Medium;

}

div{
   
    border: 3px solid black;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    background-color: #c0dbe2;

}
a{
    text-decoration-color:rgb(19, 71, 71);
}
h1{
    text-decoration-color:rgb(19, 71, 71);
}